<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Survey End</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div style="background-color:#f9f9f9;border:1px solid #dcdcdc;width:800px;font-family:Verdana">
  <table width="800" border="0" cellspacing="0" cellpadding="3" style="background-color:#f9f9f9;border:1px solid #dcdcdc;width:800px;font-family:Verdana">
    <tr>
      <td bgcolor="#ececec"><div style="padding:30px;"><img src="%%path_url%%/img/surveySampleLogo.png" alt="" /></div></td>
    </tr>
    <tr>
      <td ><div style="padding:50px">
          <div style="font-size:18px;">Hi %%isim%%, </div>
          <br />
          <div style="font-size:18px;">Survey with the name of '%%anket_ismi%%' is closed automatically on the end date.</div>
          <br />
          <div style="margin-top:70px;" >
            <table width="350" border="0" cellspacing="0" cellpadding="3">
              <tr>
                <td width="206"><a style="color:#9c9c9c;text-decoration:none;font-size:12px;" href="%%path_url%%/Default.aspx">Survey</a></td>
                <!--<td width="145"><a style="color:#9c9c9c;text-decoration:none;font-size:12px;padding-left:20px;" href="%%path_url%%/PrePurchase.aspx?menu_id=5">Satın Al</a></td>
                <td width="139"><a style="color:#9c9c9c;text-decoration:none;font-size:12px;padding-left:20px;" href="%%path_url%%/Help.aspx?menu_id=7">Yardım</a></td>-->
              </tr>
            </table>
          </div>
        </div></td>
    </tr>
  </table>
</div>
</body>
</html>
